click
cycler
decorator
Flask
gunicorn
imageio
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
networkx
numpy==1.18.3
opencv-python
Pillow
pyparsing
python-dateutil
PyWavelets
scikit-image
scikit-learn==0.22.1
scipy
six
Werkzeug
